.interviews-container {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

.interview-snippet {
	padding: 18px 10px 18px 10px;
	width: 100%;
}

.interview-snippet-seperator {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.section-seperator {
	height: 50px;
}

.deployment-tag {
	background: #DDDDDD;
    color: #666666;
	font-family: "Rubik", 'Noto Sans', 'Source Sans Pro', 'Roboto', 'Roboto Slab', sans-serif;
}

.selected-tag {
	background: #4A148C;
	color: #FFFFFF;
	transition: .4s;
}

.deployment-widget-scrollable-section {
	overflow-y: scroll;
	max-height: 300px;
}

.radio-label {
	background: #DDDDDD;
    color: #666666;
	transition: .333s;
}

.radio-label:hover {
	box-shadow: none;
}

input[type=radio]:checked + .radio-label {
	background: #4A148C;
	color: #FFFFFF;
}

.time-picker-input {
	width: 32%;
}

.status-indicator {
	padding: 4px 10px 4px 10px;
	font-weight: 600;
	border-radius: 3px;
	font-family: "Rubik", "Tahoma", "Segoe UI";
	width: 100px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	max-width: 80%;
}

.status-active {
	background: #26a69a;
	color: #FFFFFF;
}

.status-pending {
	background: #F3C13A;
	color: #000000;
}

.status-complete {
	background: #2ecc71;
	color: #FFFFFF;
}

.status-scheduled {
	background: #4A148C;
	color: #FFFFFF;
}

.status-canceled {
	background: #ffee58;
	color: #000000;
}

.status-error {
	background: #e53935;
	color: #FFFFFF;
}

.account-details-tag {
	background: #FFF;
	padding: 8px 9px 8px 9px;
	border: 1px solid #888888;
	background: #FFFFFF;
	color: #333333;
	float: left;
	margin-right: -1px;
}

.adt-first {
	border-radius: 3px 0px 0px 3px;
}

.adt-last {
	border-radius: 0px 3px 3px 0px;
}

.account-details-icon {
	display: block;
	float: left;
	margin-right: 10px;
}

.account-details{
	display: block;
	float: left;
}

.feedback-trigger-container {
	position: fixed;
	bottom: 0;
	right: 0;
}

.user-feedback-trigger {
	padding: 10px;
	width: 220px;
	border: 2px solid #FFFFFF;
	border-radius: 3px 3px 0px 0px;
	border-bottom: none;
	margin-right: 15px;
}

.user-feedback-trigger:hover {
	cursor: pointer;
}


@media screen and (max-width: 600px) {
	.schedule-button {
		font-size: 14px;
	}

	.time-picker-input {
		padding: 5px;
	}
}

@media screen and (max-width: 510px) {
	.immediately {
		display: none;
	}
}
