.interviews-container {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

.interview-snippet {
	padding: 18px 10px 18px 10px;
	width: 100%;
}

.interview-snippet-seperator {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.section-seperator {
	height: 50px;
}

.selected-tag {
	border: 2px solid #4A148C;
	transition: .4s;
}

.deployment-widget-scrollable-section {
	overflow-y: scroll;
	max-height: 300px;
}
