.theme-primary {
	background: #26a69a;
	color: #FFFFFF;
}

.theme-primary-light {
	background: #64d8cb;
	color: #000000;
}

.theme-primary-dark {
	background: #00766c;
	color: #FFFFFF;
}

.theme-secondary {
	background: #4a148c;
	color: #FFFFFF;
}

.theme-secondary-light {
	background: #7c43bd;
	color: #FFFFFF;
}

.theme-secondary-dark {
	background: #12005e;
	color: #FFFFFF;
}

.theme-tertiary {
	background: #D0D0D0;
	color: #000000;
}

.theme-tertiary-light {
	background: #F5F5F6;
	color: #000000;
}

.theme-tertiary-dark {
	background: #C0C0C0;
	color: #000000;
}
