.theme-primary {
	background: #d81b60;
	color: #FFFFFF;
}

.theme-primary-light {
	background: #ff5c8d;
	color: #000000;
}

.theme-primary-dark {
	background: #a00037;
	color: #FFFFFF;
}

.theme-secondary {
	background: #4a148c;
	color: #FFFFFF;
}

.theme-secondary-light {
	background: #7c43bd;
	color: #FFFFFF;
}

.theme-secondary-dark {
	background: #12005e;
	color: #FFFFFF;
}

.theme-tertiary {
	background: #E1E2E1;
	color: #000000;
}

.theme-tertiary-light {
	background: #F5F5F6;
	color: #000000;
}

.theme-tertiary-dark {
	background: #C0C0C0;
	color: #000000;
}
