.outer-container {
	width: 750px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	box-shadow: 0 0 16px 0 rgba( 55, 55, 55, 0.12 );
}

.pricing-container {
	/* hack to get rid of inline-block space */
	font-size: 0px;
	background: #FFFFFF;
	display: table;
}

.pricing-component {
	font-size: 16px;
	width: 150px;
	display: inline-block;
}

.pricing-component-featured {
	box-shadow: 0 0 16px 0 rgba( 100, 100, 100, .12 );
}

.pricing-component-last {
	border-right: 1px solid #DDDDDD;
}

.pricing-component-header {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}

.pricing-component-content {
	border: 1px solid #DDDDDD;
}

.pricing-component-popularity
{
	text-align: center;
	padding-top: 15px;
	font-size: 16px;
	font-weight: 600;
	background: #FFFFFF;
}

.pricing-component-price {
	text-align: center;
	padding: 15px;
	font-size: 26px;
	font-weight: 900;
	font-family: "Roboto", "Source Sans Pro", Arial;
	background: #FFFFFF;
}

.pricing-cta-container {
	padding: 15px;
	background: #FFFFFF;
}

.pricing-cta {
	border-radius: 25px;
	background: #FFFFFF;
	border: 1px solid #4A148C;
	color: #4A148C;
	font-weight: 600;
	padding: 8px 12px 8px 12px;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.pricing-cta:hover {
	color: #FFFFFF;
	background: #4A148C;
}

.pricing-component-details {
	border-top: 1px solid #DDDDDD;
}

.pricing-component-detail {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	font-size: 14px;
	color: #777777;
	text-align: center;
}

.pricing-component-detail-last {
	border-bottom: none;
}

.basic {
	background: #2ecc71;
	color: #FFFFFF;
}

.basic-text {
	color: #2ecc71;
}

.basic-border {
	border: 1px solid #2ecc71;
}

.standard {
	background: #FFA500;
	color: #FFFFFF;
}

.standard-text {
	color: #FFA500;
}

.standard-border {
	border: 1px solid #FFA500;
}

.pro {
	background: #3498db;
	color: #FFFFFF;
}

.pro-text {
	color: #3498db;
}

.pro-border {
	border: 1px solid #3498db;
}

.business {
	background: #e53935;
	color: #FFFFFF;
}

.business-text {
	color: #e53935;
}

.business-border {
	border: 1px solid #e53935;
}

.enterprise {
	background: #4A148C;
	color: #FFFFFF;
}

.enterprise-text {
	color: #4A148C;
}

.enterprise-border {
	border: 1px solid #4A148C;
}

.radio-label {
	background: #DDDDDD;
    color: #666666;
	transition: .333s;
}

.radio-label:hover {
	box-shadow: none;
}

input[type=radio]:checked + .radio-label {
	background: #4A148C;
	color: #FFFFFF;
}

@media screen and (max-width: 750px) {
	.outer-container {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		max-width: 100%;
	}
	.pricing-component {
		width: 300px;
	}
}
