<body style="margin: 0; padding: 0;">
	<div style="background: #FFFFFF; color: #333333; font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">
		<div style="border: 1px solid #CCCCCC; border-radius: 2px; max-width: 600px; margin: 0 auto;">
			<div style="background: #4A148C; color: #4A148C; padding: 20px; box-sizing: border-box;">
				<a href="{{app_url}}"><img src="https://s3-us-west-2.amazonaws.com/interviewus.net/assets/images/InterviewUs_initials.jpg" alt="" style="height: 50px;"></a>
			</div>
			<div style="padding: 20px; background: #F5F5F6;">
				<h1 style="margin: 0; text-align: center;">Dispute Opened</h1>
				<div style="padding: 10px;">
					<div style="border-top: 1px solid #CCC;"></div>
				</div>
				<p><b>Dispute ID:</b> {{dispute_id}}</p>
				<p><b>Disputed Amount</b> {{amount}}</p>
				<p><b>Braintree Customer ID:</b> {{customer_id}}</p>
				<p><b>Account ID:</b> {{account_id}}</p>
				<p><b>User Name:</b> {{full_name}}</p>
				<p><b>Email:</b> {{email}}</p>
				<p><b>Opened on</b> {{datetime}}</p>
			</div>
		</div>
	</div>
</body>
