<body style="margin: 0; padding: 0;">
	<div style="background: #FFFFFF; color: #333333; font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">
		<div style="border: 1px solid #CCCCCC; border-radius: 2px; max-width: 600px; margin: 0 auto;">
			<div style="background: #4A148C; color: #4A148C; padding: 20px; box-sizing: border-box;">
				<a href="{{app_url}}"><img src="https://s3-us-west-2.amazonaws.com/interviewus.net/assets/images/InterviewUs_initials.jpg" alt="" style="height: 50px;"></a>
			</div>
			<div style="padding: 20px; background: #F5F5F6;">
				<h1 style="margin: 0;">{{interviewee_name}} has completed their interview.</h1>
				<div style="padding: 20px;"></div>
				<h2 style="margin: 0;">Login to your account to your account to view the results.</h2>
				<div style="padding: 60px;"></div>
			</div>
			<div style="background: #52565A; padding: 10px; text-align: center;">
				<a href="{{app_url}}sign-in" style="text-align: center; color: #FFFFFF; font-size: 14px; font-weight: 600; display: inline-block; text-align: center; text-decoration: none; font-size: 12px;">LOGIN TO MY ACCOUNT</a>
			</div>
			<div style="background: #EEEEEE; color: #000000; padding: 10px; box-sizing: border-box; border-top: 1px solid #CCCCCC;">
				<div>
					<a href="{{app_url}}privacy-policy" style="text-decoration: none;">Privacy Policy</a>
				</div>
				<div>
					<a href="{{app_url}}terms-and-conditions" style="text-decoration: none;">Terms and Conditions</a>
				</div>
				<div>
					<p style="color: #666666;">{{app_business_name}}</p>
				</div>
			</div>
			<div style="background: #52565A; padding: 10px; text-align: center;">
				<a href="{{app_url}}email/unsubscribe" style="text-align: center; color: #FFFFFF; font-size: 14px; font-weight: 600; display: inline-block; text-align: center; text-decoration: none;">UNSUBSCRIBE</a>
			</div>
		</div>
	</div>
</body>
