<body style="margin: 0; padding: 0;">
	<div style="background: #FFFFFF; color: #333333; font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">
		<div style="border: 1px solid #CCCCCC; border-radius: 2px; max-width: 600px; margin: 0 auto;">
			<div style="background: #4A148C; color: #4A148C; padding: 20px; box-sizing: border-box;">
				<a href="{{app_url}}"><img src="https://s3-us-west-2.amazonaws.com/interviewus.net/assets/images/InterviewUs_initials.jpg" alt="" style="height: 50px;"></a>
			</div>
			<div style="padding: 20px; background: #F5F5F6;">
				<h1 style="margin: 0; text-align: center;">Reciept of Payment</h1>
				<div style="padding: 10px;">
					<div style="border-top: 1px solid #CCC;"></div>
				</div>
				<h2 style="margin: 0;">Payment Details</h2>
				<p>Transaction ID: {{transaction_id}}</p>
				<p>Name: {{full_name}}</p>
				<p>Card: xxxx xxxx xxxx xxxx {{last_4}}</p>
				<p>Sub total: <b>{{sub_total}}</b></p>
				<p>Total: <b>{{total}}</b></p>
				<p>Processed on {{datetime}}</p>
				<div style="padding: 10px;">
					<div style="border-top: 1px solid #CCC;"></div>
				</div>
				<h2 style="margin: 0;">Product Details</h2>
				<p>Plan: {{plan_name}}</p>
				<p>Billed {{billing_frequency}}</p>
			</div>
			<div style="background: #52565A; padding: 10px; text-align: center;">
				<a href="{{app_url}}sign-in" style="text-align: center; color: #FFFFFF; font-size: 14px; font-weight: 600; display: inline-block; text-align: center; text-decoration: none; font-size: 12px;">LOGIN TO MY ACCOUNT</a>
			</div>
		</div>
	</div>
</body>
