<body style="margin: 0; padding: 0;">
	<div style="background: #F5F5F6; color: #333333; font-family: Tahoma, arial;">
		<div style="background: #4A148C; color: #FFFFFF; padding: 15px; box-sizing: border-box;">
			<h1 style="color: #FFFFFF; text-align: center;">InterviewUs</h1>
		</div>
		<div style="padding: 15px; min-height: 600px;">
			<h1>Hey, {{first_name}}! Welcome to {{app_name}}</h1>
			<div style="padding: 10px;"></div>
			<h2>Sending your first email</h2>
			<div style="padding: 10px;"></div>
			<p></p>
		</div>
		<div style="background: #CCCCCC; color: #000000; padding: 10px; box-sizing: border-box;">
			<div>
				<a href="https://www.interviewus.net/privacy-policy" style="text-decoration: none;">Privacy Policy</a>
			</div>
			<div>
				<a href="https://www.interviewus.net/terms-and-conditions" style="text-decoration: none;">Terms and Conditions</a>
			</div>
		</div>
		<div style="background: #777777; padding: 10px; text-align: center;">
			<a href="https://www.interviewus.net/email/unsubscribe" style="text-align: center; color: #FFFFFF; font-size: 14px; font-weight: 600; display: inline-block; text-align: center; text-decoration: none;">Unsubscribe</a>
		</div>
	</div>
</body>
